# Python
__pycache__/
*.pyc
*.pyo
*.pyd
facelock_env/

# FaceLock sensitive data -- NEVER commit these
data/facelock.db
data/facelock.key
profiles/*.enc
profiles/*.key

# Compiled dlib / binaries
dlib/
*.whl

# VS Code
.vscode/

# Logs
logs/*.log

# PyInstaller
build/
dist/
*.spec
